@import url(style_main.css);

h1{
	font-size:18px;
	margin:0 0 6px;
	width:97%;
	padding:4px 0 0;
	color:#8e1211;
	border-bottom:1px solid #8e1211;
}

.info_img{
	float:left;
	margin:8px 16px 0 0;
}

.content ul{
	padding:0 0 0 16px;
}

.works_container img{
	margin:8px 14px 8px 0;
	vertical-align:middle;
}
